@import 'variables';
@import 'header';
@import 'icons';
@import 'columns';
*{
    margin: 0;
    padding: 0;
}

main{
    background-image: $background;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 100vh; 
}